@use "../base/colors";

$height: 15rem;
$width: calc($height * 1.618);
.projects-container {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2em;
    padding: 2rem;
    overflow-y: auto;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    max-height: 87%;

    @media (max-width: calc($width*3.55)) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: calc($width*2.40)) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.project {
    width: $width;
    height: $height;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px rgba(map-get(colors.$light-theme, "c2"), 1);

    &__thumbnail {
        //LINK: https://medium.com/@jamesfuthey/simulating-the-creation-of-website-thumbnail-screenshots-using-iframes-7145269891db
        position: relative;
        -ms-zoom: 0.25;
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.25);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.25);
        -webkit-transform-origin: 0 0;
        transition: all 0.5s ease;

        width: $width * 4;
        height: $height * 4;

        & .loader {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) scale(150%);
            $size: min($width, $height) * 4 / 3;
            width: $size;
            height: $size;
        }

        & iframe {
            width: $width * 4;
            height: $height * 4;
            transition: opacity 0.75s ease;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0px;
            right: -300%; //QUICKFIX: dunno why...but it works
            bottom: 0;
        }

        //========== QUICKFIX:
        //== Some projects appear with transp backgrounds bcz they dont have a defined bg color, and rely on the default white.
        //while its not a problem on the website itself, it is on the showcase...by applying the fix here, looks better,
        //and its less work than going through all the websites changing everything
        & > iframe {
            background-color: #eee;
        }
    }

    &__text {
        $color1: rgba(map-get(colors.$light-theme, "c1"), 1);
        $color2: rgba(map-get(colors.$light-theme, "c2"), 1);
        background: linear-gradient(180deg, $color1, $color2);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.25em;

        box-shadow: inset 2px 2px 10px 2px
            rgba(map-get(colors.$light-theme, "c1"), 1);
        transform: translateY(55%);
        transition: all 0.35s ease-out;
        &__title {
            font-size: 1.25em;
            border-bottom: 1px solid rgba(map-get(colors.$light-theme, "c5"), 1);
            margin-bottom: 0.25em;
        }
        // &__descp {
        // }
    }
    @media (hover: hover) {
        &:hover &__text {
            transform: translateY(0);

            backdrop-filter: blur(15px);
            box-shadow: inset 2px 2px 10px 2px
                rgba(map-get(colors.$light-theme, "c4"), 1);
        }

        &:hover &__thumbnail {
            filter: blur(8px);
        }
    }
}
